<div class="container-fluid">
  <div class="row justify-content-center pt-3">
    <div class="col-md-11">
      <h1>Resultados: {{ text }}</h1><hr>
    </div>
    <div class="col-md-11" *ngIf="products.length == 0">
      <div class="alert alert-primary" role="alert">
        No se encontraron resultados para: {{ text }}
      </div>
    </div>
    <div class="col-md-11">
      <div class="card-columns">
        <app-product-card [product]="product" *ngFor="let product of products; let i = index"></app-product-card>
      </div>
    </div>
  </div>
</div>
